<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<appSettings>
		<!-- _____Geovictoria______-->
		<add key="UrlService" value="https://apiv3-sandbox.geovictoria.com/api" />
		<add key="UrlCustomerService" value="https://customerapi-sandbox.geovictoria.com/api" />
		<add key="UrlContractsUser" value ="https://gvusercontractsapi-desarrollo.azurewebsites.net"/>

		<!-- _____REX+ Prod______-->
		<!--<add key="UrlRexService" value="cygadministracion;ggpservicios;gonzalez" />-->
		<add key="UrlRexService" value="berrieschile" />
		<add key="usuario" value="geovictoria"/>
		<add key="clave" value="*cl4v3CyGr3xGvProd*"/>
		<add key="authToken" value="Token eyJpZCI6MjI2LCJ2YWxpZCI6NiwidXNlcm5hbWUiOiJnZW92aWN0b3JpYSIsImNyZWF0aW9uX3RpbWUiOjE2MjczMTc4MjkuOTk0NjF9.RPSCuusl5k7jTXRxt4O7mqF78DTV-ImX_Ix_8PWpPP8"/>

		<!-- _____Settings______-->
		<add key="maxParallelUsers" value="15"/>
		<add key="maxParallelCompanies" value="1"/>
		<add key="maxParallel" value="10"/>
		<add key="TimeOut" value="5"/>

		<add key="consumerkey" value="8e70e7"/>
		<add key="consumersecret" value="a932acd5"/>
		<add key="companyName" value="Berries Chile S.A"/>
		<add key="rexCompanyCode" value="Berries"/>
		<add key="consumerToken" value="8F871F926A494613807CB283959C403D"/>

		<!--____Configuraciones Empresa - Integracion -->
		<add key="userGroupOrigin" value="CentroCosto"/>
		<add key="createGroups" value="false"/>
		<add key="disableGroupIfNotFound" value="false"/>
		<add key="disableUserIfContractEnds" value="true"/>
		<add key="disableUserIfNotFound" value="true"/>
		<add key="disableUserIfContractIsZero" value="true"/>
		<add key="disableUserIfSituacionF" value="false"/>
		<add key="disableUserIfSituacionS" value="false"/>
		<add key="disableUserIfModalidadContratoS" value="true"/>
		<add key="daysSinceUsersUpdated" value="0"/>
		<add key="processStartDate" value="2021-08-20"/>
		<add key="processEndDate" value="2021-09-17"/>
		<add key="timeOffsStartDate" value="2021-08-16"/>
		<add key="timeOffsEndDate" value=""/>
		<add key="createAllPositions" value="false"/>
		<add key="excludeCustum3" value="165382285"/>
		<add key="disableNonIntegratedUser" value="true"/>
		<!--File generation Information-->
		<add key="Separator" value=";" />
		<!-- ________________________________________________________________________________ -->
	</appSettings>
</configuration>